<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/modelo_2/css/cadastro.css">    
</head>
<body>
<div class="cad">
<form method="post" action="/importar">
    <h1>Nome do Cliente: <label for="nome_cliente"><input type="text" id="nome_cliente" name="nome_cliente"></label></h1>
    <h1>Placa do Veículo: <label for="placa"><input type="text" id="placa" name="placa"></label></h1>
    <h1>Modelo do Veículo: <label for="modelo"><input type="text" id="modelo" name="modelo"></label></h1>
    <h1>CPF do Cliente: <label for="cpf"><input type="text" id="cpf" name="cpf"></label></h1>
    <h1>Serviços Requisitados: <label for="servicos"><input type="text" id="servicos" name="servicos"></label></h1>
    <h1>Mecânicos Responsáveis: <label for="responsaveis"><input type="text" id="responsaveis" name="responsaveis"></label></h1>
    <h1>Valor Final: <label for="valor"><input type="text" id="valor" name="valor"></label></h1>
    <h1>Observação: <label for="observacao"><input type="text" id="observacao" name="observacao"></label></h1>
    <button type="submit" name="enviar">Enviar</button>
</form>
</div>

</body>
</html>